<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <title>Create a Course</title>
</head>
<body>

<div id="content">
    <h1>Create New Course</h1>

    <form action="#" th:action="@{/courses}" th:object="${course}" method="post">
        <div class="page_row">
            <label for="course_name_input">Name:</label>
            <input id="course_name_input" type="text" th:field="*{name}" required/>
        </div>

        <div class="page_row">
            <label for="course_code_input">Code:</label>
            <input id="course_code_input" type="text" th:field="*{code}" required/>
        </div>

        <div class="page_row">
            <label for="course_github_organization_name_input">Github Organization:</label>
            <input id="course_github_organization_name_input" type="text" th:field="*{githubOrganizationName}" required/>
        </div>

        <div class="page_row">
            <label for="course_github_api_key_input">Github API Key:</label>
            <input id="course_github_api_key_input" type="text" th:field="*{apiKey}" required/>
        </div>

        <div class="page_row">
            <button type="submit">Submit</button>
        </div>

    </form>
</div>

<div id="sidebar">
    <div class="sidebar_block">
        block
    </div>
</div>

</body>
</html>