<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.getName()}"></title>
</head>
<body>

<div id="content">
    <h1><span th:text="${course.getName()}"></span> (Code: <span th:text="${course.getCode()}"></span>)</h1>
    <hr>

    <ul>
        <li>
            Github Organization: <a th:href="@{${'https://www.github.com/' + course.getGithubOrganizationName()}}" th:text="${course.getGithubOrganizationName()}"></a>
        </li>
        <li>
            <a th:href="@{/courses/{code}/teaching_assistant_teams(code=${course.getCode()})}">Teaching Assistant Teams</a>
        </li>
        <li>
            <a th:href="@{/courses/{code}/student_teams(code=${course.getCode()})}">Student Teams</a>
        </li>
        <li>
            <a th:href="@{/courses/{code}/students(code=${course.getCode()})}">All Students</a>
        </li>
        <li>
            <a th:href="@{/courses/{code}/teaching_assistants(code=${course.getCode()})}">All Teaching Assistants</a>
        </li>
    </ul>
</div>

<div id="sidebar">
    <div class="sidebar_block">
        <a th:href="@{/courses/{code}/import_students(code=${course.getCode()})}">Import students from CSV</a>
    </div>
    <div class="sidebar_block">
        <a th:disabled="true" th:href="@{/courses/{code}/import_teaching_assistants(code=${course.getCode()})}">Import teaching assistants from CSV</a>
    </div>
</div>

</body>
</html>