<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content, sidebar_content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">basic_page</title>
    <link rel="stylesheet" href="../../../resources/static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="content_container">
    <div th:replace="${content}">
        <p>
            Basic page content block.
        </p>
    </div>
</div>

<div class="sidebar_container">
    <div th:replace="${sidebar_content}">
        <p>
            Basic page sidebar block.
        </p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>