<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (title='Students in ' + ${course.getCode()}, content=~{::#content}, actions=~{::#actions})}">

<body>

<div id="actions">
    <a class="btn btn-primary m-1" th:href="@{/courses/{code}/students/invite_all(code=${course.getCode()})}">
        Invite All Students To Repository
    </a>
</div>

<div id="content">
    <table class="table table-striped">
        <tr>
            <th>Student</th>
            <th>Student Number</th>
            <th>Email Address</th>
        </tr>
        <tr th:each="student: ${course.getStudents()}">
            <td>
                <a th:href="@{/students/{id}(id=${student.getId()})}"><span th:text="${student.getFullName()}"></span></a>
            </td>
            <td th:text="${student.getStudentNumber()}"></td>
            <td th:text="${student.getEmailAddress()}"></td>
        </tr>
    </table>
</div>

</body>
</html>