<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (title='Student Teams for ' + ${course.getCode()}, content=~{::#content}, actions=~{::#actions})}">
<body>

<div id="actions">
    <a class="btn btn-primary m-1"  th:href="@{/courses/{code}/student_teams/generate_repositories(code=${course.getCode()})}">
        Generate Repositories
    </a>
    <a class="btn btn-primary m-1"  th:href="@{/courses/{code}/student_teams/branch_protection_update(code=${course.getCode()})}">
        Update Branch Protection
    </a>
    <a class="btn btn-primary m-1"  th:href="@{/courses/{code}/student_teams/export(code=${course.getCode()})}">
        Export
    </a>
    <a class="btn btn-primary m-1"  th:href="@{/courses/{code}/student_teams/export_contact_info(code=${course.getCode()})}">
        Export Team Contact Details
    </a>
    <a class="btn btn-primary m-1"  th:href="@{/courses/{code}/student_teams/create(code=${course.getCode()})}">
        Create New Student Team
    </a>
    <a class="btn btn-primary m-1"  th:href="@{/courses/{code}/student_teams/merge_single_teams(code=${course.getCode()})}">
        Merge Single Teams
    </a>
</div>

<div id="content" class="row justify-content-center">
    <div th:if="${course.getStudentTeams().isEmpty()}">
        <p>No student teams.</p>
    </div>
    <table class="table">
        <tr>
            <th>Team</th>
            <th>Students</th>
            <th>Repository Name</th>
            <th>Assigned TA Team</th>
        </tr>
        <tr th:each="studentTeam: ${course.getStudentTeams()}">
            <td>
                <a
                        th:href="@{/courses/{code}/student_teams/{team_id}
                    (code=${course.getCode()}, team_id=${studentTeam.getId()})}">
                    Student Team <span th:text="${studentTeam.getId()}"></span>
                </a>
            </td>
            <td>
                <div th:each="student: ${studentTeam.getStudents()}">
                    <a th:href="@{/students/{id}(id=${student.getId()})}" th:text="${student.getFullName()}"></a><br>
                </div>
            </td>
            <td>
                <span th:if="${studentTeam.getGithubRepositoryName() == null}">None</span>
                <a
                        target="_blank"
                        th:if="${studentTeam.getGithubRepositoryName() != null}"
                        th:href="${'https://github.com/' + studentTeam.getCourse().getGithubOrganizationName() + '/' + studentTeam.getGithubRepositoryName()}"
                        th:text="${studentTeam.getGithubRepositoryName()}"></a>
            </td>
            <td>
                <span th:if="${studentTeam.getAssignedTeachingAssistantTeam() == null}">None</span>
                <a
                        th:if="${studentTeam.getAssignedTeachingAssistantTeam() != null}"
                        th:href="@{/courses/{code}/teaching_assistant_teams/{teamId}
                        (code=${course.getCode()}, teamId=${studentTeam.getAssignedTeachingAssistantTeam().getId()})}"
                        th:text="${studentTeam.getAssignedTeachingAssistantTeam().getId()}"
                ></a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>