<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (title='Teaching Assistants for ' + ${course.getCode()}, content=~{::#content}, actions=~{::#actions})}">
<body>

<div id="actions">
    <a class="btn btn-primary m-1" th:href="@{/courses/{code}/teaching_assistants/create(code=${course.getCode()})}">Add Teaching Assistant</a>
</div>

<div id="content">
    <table class="table table-striped">
        <tr>
            <th>Teaching Assistant</th>
            <th>Email</th>
            <th>Id</th>
        </tr>
        <tr th:each="teachingAssistant: ${course.getTeachingAssistants()}">
            <td>
                <a th:href="@{/teaching_assistants/{id}(id=${teachingAssistant.getId()})}"><span th:text="${teachingAssistant.getFullName()}"></span></a>
            </td>
            <td th:text="${teachingAssistant.getEmailAddress()}"></td>
            <td th:text="${teachingAssistant.getId()}"></td>
        </tr>
    </table>
</div>

</body>
</html>