<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (title='Teaching Assistant Team ' + ${teachingAssistantTeam.getId()}, content=~{::#content})}">
<head>
    <title>Teaching Assistant Team</title>
</head>
<body>

<div id="content" class="row justify-content-center">
    <ul>
        <li>
            Github Team Name: <code th:text="${teachingAssistantTeam.getGithubTeamName()}"></code>
        </li>
        <li>
            Teaching Assistants:
            <ul>
                <li th:each="teachingAssistant: ${teachingAssistantTeam.getTeachingAssistants()}">
                    <a th:href="@{/teaching_assistants/{id}(id=${teachingAssistant.getId()})}">
                        <span th:text="${teachingAssistant.getFullName()}"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Assigned Student Teams:
            <ul>
                <li th:each="studentTeam: ${teachingAssistantTeam.getAssignedStudentTeams()}">
                    <a th:href="@{/courses/{code}/student_teams/{id}(code=${course.getCode()}, id=${studentTeam.getId()})}">
                        <span th:text="${studentTeam.getId()}"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>