<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <title>Teaching Assistant</title>
</head>
<body>

<div id="content">
    <h1>Teaching Assistant: <span th:text="${teachingAssistant.getFullName()}"></span></h1>

    <ul>
        <li>
            Email: <code th:text="${teachingAssistant.getEmailAddress()}"></code>
        </li>
        <li>
            Github Username: <code th:text="${teachingAssistant.getGithubUsername()}"></code>
        </li>
        <li>
            Courses:
            <ul>
                <li th:each="course: ${teachingAssistant.getCourses()}">
                    <a th:href="@{/courses/{code}(code=${course.getCode()})}"><span th:text="${course.getName()}"></span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="sidebar">

</div>

</body>
</html>