<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (title=${teachingAssistant.getFullName()}, content=~{::#content})}">

<body>

<div id="content" class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" th:text="'Email: ' + ${teachingAssistant.getEmailAddress()}" th:href="'mailto: ' + ${teachingAssistant.getEmailAddress()}"></a>
            <a class="list-group-item list-group-item-action" th:text="'Github Username: ' + ${teachingAssistant.getGithubUsername()}" th:href="'https://www.github.com/' + ${teachingAssistant.getGithubUsername()}" target="_blank"></a>
            <div class="list-group-item">
                <h5>Courses</h5>
                <div th:each="course: ${teachingAssistant.getCourses()}">
                    <a class="list-group-item-action" th:text="${course.getName()}" th:href="@{/courses/{code}(code=${course.getCode()})}"></a><br>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>