<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <title>Assign Teaching Assistant Team</title>
</head>
<body>

<div id="content">
    <h1>Assign a Teaching Assistant Team to Student Team <span th:text="${student_team.getId()}"></span></h1>

    <form
            action="#"
            th:action="@{/courses/{code}/student_teams/{id}/assign_teaching_assistant_team(code=${course.getCode()}, id=${student_team.getId()})}"
            enctype="application/x-www-form-urlencoded"
            method="post"
    >
        <div class="page_row">
            <label for="ta_team_select">Select a Team:</label>
            <select id="ta_team_select" name="teaching_assistant_team_id">
                <option value="-1">None</option>
                <option
                        th:each="team: ${course.getTeachingAssistantTeams()}" th:value="${team.getId()}"
                        th:text="${'Team ' + team.getId() + ' (Manages ' + team.getAssignedStudentTeams().size() + ' student teams)'}"
                ></option>
            </select>
        </div>

        <div class="page_row">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<div id="sidebar">

</div>

</body>
</html>