<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (title='Create Student Team', content=~{::#content})}">
<body>

<div id="content" class="row justify-content-center">
    <p>
        Creates a new student team for the <span th:text="${course.getName()}"></span> course, without any assigned TA team or student members.
    </p>

    <form th:action="@{/courses/{code}/student_teams/create(code=${course.getCode()})}" enctype="application/x-www-form-urlencoded" method="post">

        <div class="form-row">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>
</div>

</body>
</html>