<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <meta charset="UTF-8">
    <title>Student Team</title>
</head>
<body>

<div id="content">
    <h1>Student Team <span th:text="${student_team.getId()}"></span></h1>

    <ul>
        <li>
            Github Repository:
            <a th:href="@{${'https://www.github.com/' + student_team.getCourse().getGithubOrganizationName() + '/' + student_team.getGithubRepositoryName()}}">
                <span th:text="${student_team.getGithubRepositoryName()}"></span>
            </a>
        </li>
        <li>
            Assigned Teaching Assistant Team:
            <a
                    th:if="${student_team.getAssignedTeachingAssistantTeam() != null}"
                    th:href="@{/courses/{code}/teaching_assistant_teams/{id}(code=${student_team.getCourse().getCode()}, id=${student_team.getAssignedTeachingAssistantTeam().getId()})}"
                    th:text="${student_team.getAssignedTeachingAssistantTeam().getId()}"
            ></a>
        </li>
        <li>
            Members:
            <ul>
                <li th:each="student: ${student_team.getStudents()}">
                    <a th:href="@{/students/{id}(id=${student.getId()})}">
                        <span th:text="${student.getFullName()}"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>

<div id="sidebar">
    <div class="sidebar_block">
        <a
                th:if="${student_team.getGithubRepositoryName() == null}"
                th:href="@{/courses/{code}/student_teams/{id}/generate_repository
                (code=${student_team.getCourse().getCode()}, id=${student_team.getAssignedTeachingAssistantTeam().getId()})}"
        >Generate Repository</a>
        <a
                th:if="${student_team.getGithubRepositoryName() != null}"
                th:href="@{/courses/{code}/student_teams/{id}/delete_repository
                (code=${student_team.getCourse().getCode()}, id=${student_team.getAssignedTeachingAssistantTeam().getId()})}"
        >Delete Repository</a>
    </div>
</div>

</body>
</html>