<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <meta charset="UTF-8">
    <title>Student Team</title>
</head>
<body>

<div id="content">
    <h1>Student Team <span th:text="${student_team.getId()}"></span></h1>

    <ul>
        <li>
            Github Repository:
            <a th:href="@{${'https://www.github.com/' + student_team.getCourse().getGithubOrganizationName() + '/' + student_team.getGithubRepositoryName()}}">
                <span th:text="${student_team.getGithubRepositoryName()}"></span>
            </a>
        </li>
        <li th:if="${student_team.getAssignedTeachingAssistantTeam() != null}">
            Assigned Teaching Assistant Team:
            <a
                    th:if="${student_team.getAssignedTeachingAssistantTeam() != null}"
                    th:href="@{/courses/{code}/teaching_assistant_teams/{id}(code=${student_team.getCourse().getCode()}, id=${student_team.getAssignedTeachingAssistantTeam().getId()})}"
                    th:text="${student_team.getAssignedTeachingAssistantTeam().getId()}"
            ></a>
        </li>
        <li>
            Members:
            <ul>
                <li th:each="student: ${student_team.getStudents()}">
                    <a th:href="@{/students/{id}(id=${student.getId()})}">
                        <span th:text="${student.getFullName()}"></span>
                    </a>
                    (<a
                        th:href="@{/courses/{code}/student_teams/{id}/remove_student/{student_id}
                    (code=${student_team.getCourse().getCode()}, id=${student_team.getId()}, student_id=${student.getId()})}"
                    >Remove From This Team</a>)
                </li>
            </ul>
        </li>
    </ul>

</div>

<div id="sidebar">
    <div class="sidebar_block" th:if="${student_team.getGithubRepositoryName() == null && student_team.getAssignedTeachingAssistantTeam() != null}">
        <a
                th:href="@{/courses/{code}/student_teams/{id}/generate_repository
                (code=${student_team.getCourse().getCode()}, id=${student_team.getId()})}"
        >Generate Repository</a>
    </div>

    <div class="sidebar_block" th:if="${student_team.getGithubRepositoryName() != null}">
        <a
                th:href="@{/courses/{code}/student_teams/{id}/delete_repository
                (code=${student_team.getCourse().getCode()}, id=${student_team.getAssignedTeachingAssistantTeam().getId()})}"
        >Archive Repository</a>
    </div>

    <div class="sidebar_block">
        <a th:href="@{/courses/{code}/student_teams/{id}/add_student(code=${student_team.getCourse().getCode()}, id=${student_team.getId()})}">
            Add Student To Team
        </a>
    </div>

    <div class="sidebar_block">
        <a th:href="@{/courses/{code}/student_teams/{id}/assign_teaching_assistant_team(code=${student_team.getCourse().getCode()}, id=${student_team.getId()})}">
            Assign Teaching Assistant Team
        </a>
    </div>

    <div class="sidebar_block">
        <a th:href="@{/courses/{code}/student_teams/{id}/remove(code=${student_team.getCourse().getCode()}, id=${student_team.getId()})}">Remove This Team</a>
        <p>
            Removes this team permanently, and archives the repository.
        </p>
    </div>
</div>

</body>
</html>