<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>footer</title>
</head>
<body>

<footer th:fragment="footer" class="footer_bar">
<!--    <link rel="stylesheet" href="../../../resources/static/css/footer.css" th:href="@{/css/footer.css}"/>-->

<!--    <div class="third">-->
<!--        First third of footer-->
<!--    </div>-->
<!--    <div class="third">-->
<!--        Middle of footer-->
<!--    </div>-->
<!--    <div class="third">-->
<!--        Right side of footer.-->
<!--    </div>-->

</footer>

</body>
</html>