<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teaching Assistant Assistant</title>
</head>
<body>


<nav th:fragment="header" class="header_bar">
    <link rel="stylesheet" href="../../../resources/static/css/header.css" th:href="@{/css/header.css}"/>
    <h1 class="header_title">Teaching Assistant Assistant</h1>
    <ul class="header_link_list">
        <li><a href="/" th:href="@{/}">Home</a>
        <li><a href="/courses" th:href="@{/courses}">Courses</a>
    </ul>
</nav>

</body>
</html>