.footer_bar {
    background-color: darkslategray;
    color: whitesmoke;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1; /* Make this footer appear above all other things. */
}

.third {
    width: 33%;
    display: inline-block;
    text-align: center;
}