<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <title>Courses</title>
</head>
<body>

<div id="content">
    <table>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Created at</th>
        </tr>
        <tr th:each="course: ${courses}">
            <td>
                <a th:href="@{/courses/{id}(id=${course.getId()})}"  th:text="${course.getName()}"></a>
            </td>
            <td th:text="${course.getCode()}"></td>
            <td th:text="${course.getCreatedOn()}"></td>
        </tr>
    </table>
</div>

<div id="sidebar">
    <div class="sidebar_block">
        Create new course
    </div>
    <div class="sidebar_block">
        Do something else
    </div>
    <div class="sidebar_block">
        Click this link!
    </div>
</div>

</body>
</html>