<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (title='Courses', content=~{::#content}, actions=~{::#actions})}" lang="en">
<body>

<div id="actions">
    <a class="btn btn-primary m-1" th:href="@{/courses/create}">Create New Course</a>
</div>

<div id="content" class="container-fluid">
    <div class="col-sm-12 col-md-6 offset-3">
        <div class="list-group">
            <a th:each="course: ${courses}" class="list-group-item list-group-item-action flex-column align-items-start" th:href="@{/courses/{code}(code=${course.getCode()})}">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1" th:text="${course.getName()}"></h4>
                    <small th:text="${course.getCode()}"></small>
                </div>
                <ul>
                    <li><span class="badge badge-primary" th:text="${course.getStudentTeams().size()}"></span> Student Teams</li>
                    <li><span class="badge badge-primary" th:text="${course.getNumberOfStudentsInTeams()}"></span> Active Students</li>
                    <li><span class="badge badge-primary" th:text="${course.getTeachingAssistants().size()}"></span> Teaching Assistants</li>
                </ul>
                <small>Created on <span th:text="${course.getCreatedOn()}"></span></small>
            </a>
        </div>
    </div>
</div>

</body>
</html>