<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <title>Homepage</title>
</head>
<body>

<div id="content">
    <p>
        Welcome to the home page. To find the courses in this application please follow the link to <a th:href="@{/courses}">courses</a>.
    </p>
</div>

<div id="sidebar">
    <div class="sidebar_block">
        This is an example sidebar block.
    </div>
    <div id="generate_courses_block" class="sidebar_block">
        <a href="/courses/generate">Click here to generate test data.</a>
    </div>
    <div class="sidebar_block">
        Another sidebar block with a lot more text in it, so that the text should properly wrap to the next lines if needed.
    </div>
</div>

</body>
</html>