<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/basic_page :: layout (~{::title}, ~{::#content}, ~{::#sidebar})}">
<head>
    <title>Create a Student</title>
</head>
<body>

<div id="content">
    <h1>Create New Student</h1>

    <form action="#" th:action="@{/students/create}" th:object="${student}" method="post" enctype="application/x-www-form-urlencoded">
        <div class="page_row">
            <label for="student_first_name_input">First Name:</label>
            <input id="student_first_name_input" type="text" th:field="*{firstName}" required />
        </div>

        <div class="page_row">
            <label for="student_last_name_input">Last Name:</label>
            <input id="student_last_name_input" type="text" th:field="*{lastName}" required />
        </div>

        <div class="page_row">
            <label for="student_email_input">Email Address:</label>
            <input id="student_email_input" type="email" th:field="*{emailAddress}" required />
        </div>

        <div class="page_row">
            <label for="student_github_username_input">Github Username:</label>
            <input id="student_github_username_input" type="text" th:field="*{githubUsername}" required />
        </div>

        <div class="page_row">
            <label for="student_number_input">Student Number:</label>
            <input id="student_number_input" type="number" th:field="*{studentNumber}" required />
        </div>

        <div class="page_row">
            <label for="student_course_select">Select a course to add the student to:</label>
            <select id="student_course_select" name="course_code">
                <option value="NO_COURSE_SELECTED">None</option>
                <option
                        th:each="course: ${courses}"
                        th:value="${course.getCode()}"
                        th:text="${course.getName()}"
                ></option>
            </select>
        </div>

        <div class="page_row">
            <button type="submit">Submit</button>
        </div>

    </form>
</div>

<div id="sidebar">
</div>

</body>
</html>